button {
    border-radius: 12px;
    border: 1px solid transparent;
    background-color: #ffffff00;
    cursor: pointer;
    transition: border-color 0.25s;
    max-width: 10%;
    max-height: 10%;
  }
button:hover {
  border-color: rgb(102, 102, 102);
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  }
  
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

/* .backgroundPrimary {
    background-color: red;
}
  
.backgroundSecundary {
    background-color: blue;
} */
