.esc_carroussel {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.esc_carroussel_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid;
    padding: 15px;
    border-radius: 12px;
}